body {
    text-align: center;
    background-color: beige;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 24px;
}