@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Permanent+Marker&family=Satisfy&display=swap');

body 
{
    background-color: white;
    font-family: "Fragment Mono", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Permanent Marker", sans-serif;
}

/* This header formatting */
header
{
    background-color: #136F63;
    display: grid;
    grid-template-columns: 150px auto;
}

nav
{
    display: flex;
    justify-content: space-around;
}

#links
{
    color: white;
}

.logo
{
    width: 80px;
}

content 
{
    max-width: 1600px;
    margin: 0 auto;
}

nav a
{
    text-align: center;
    text-decoration: none;
    color: #1E1068;
    font-family: Ubuntu, Helvetica, sans-serif;
    padding: 35px;
}

nav a:hover
{
    background-color: #4F359B;
    text-decoration: none;
    color: white;
}


/* This is the footer formatting */
footer
{
    background-color: #136F63;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a 
{
    background-color: #136F63;
    text-decoration: none;
    color: #1E1068;
}

footer a:hover
{
    background-color: #4F359B;
    text-decoration: none;
    color: white;
}

footer p 
{
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 1.2em;
}

footer p:hover
{
    text-decoration: underline;
}

footer .social img
{
    padding-top: 15px;
}

/* ********** HOME PAGE ********** */

/* Headers */
.msg
{
    background-color: #009FFD;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    max-width: 500px;
    border-radius: 5px;
    position: relative;
    left: 20px;
    top: -1330px;
}

.description-title
{
    background-color: #009FFD;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    max-width: 150px;
    border-radius: 5px;
    margin: auto;
    width: 10%;
}

.hype-title
{
    background-color: #4F359B;
    color: white;
}

.testimonial-title
{
    background-color: #009FFD;
}

/* Hero */
#hero-img
{
    width: 100%;
    position:  relative;
    top: 50px;
}

.button-box
{
    margin: auto;
    width: 10%;
    position: relative;
    top: -140px;
}

.book
{
    text-decoration: none;
    background-color: #136F63;
    font-size: 40px;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

/* Description */
#description p
{
    background-color: #4F359B;
    color: white;
    padding: 10px;
    margin: 5px;
}

.book:hover
{
    background-color: #4F359B;
}

/* Hype */
#hype
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#hype-background
{
    grid-column: 1/6;
    grid-row: 2/7;
    background-color: #136F63;
}

.hype-title
{
    grid-column: 2/3;
    grid-row: 4/5;
}

#hype-image
{
    grid-column: 4/7;
    grid-row: 1/6;
    border: 5px black solid;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

/* Testimonials */
#testimonials
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.testimonial-title
{
    grid-column: 3/6;
    grid-row: 1/2;
}

#testimonial-1
{
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
}

#testimonial-1-p
{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #4F359B;
    color: white;
}

#testimonial-2
{
    width: 100%;
    grid-column: 4/5;
    grid-row: 2/3;
}

#testimonial-2-p
{
    grid-column: 4/5;
    grid-row: 3/4;
    background-color: #4F359B;
    color: white;
}

#testimonial-3
{
    width: 100%;
    grid-column: 6/7;
    grid-row: 2/3;
}

#testimonial-3-p
{
    grid-column: 6/7;
    grid-row: 3/4;
    background-color: #4F359B;
    color: white;
}

/* ************* END ************* */